streamlit
python-dotenv
spacy==3.7.2
networkx
supabase==2.3.4
langchain==0.1.0
langchain-core==0.1.10
langchain-community==0.0.13
langchain-huggingface==0.0.1
langchain-groq==0.0.1
sentence-transformers>=2.6.0
langgraph==0.0.20
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
